%h2
  Промени #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email
  %div
    = f.label :current_password
    %i (вашата моментална лозика ни е потребна за потврда на промените)
    %br/
    = f.password_field :current_password
  %div= f.submit "Промени"
%h3 Избришете ја мојата сметка
%p
  Се чувствувате несреќни или незадоволни? #{link_to "Избришете ја мојата сметка!", registration_path(resource_name), :data => { :confirm => "Дали сте сигурни?" }, :method => :delete}.
= link_to "Назад", :back
