%h2 Промена на лозинка
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  %div
    = f.label :password, "Нова лозинка"
    %br/
    = f.password_field :password
  %div
    = f.label :password_confirmation, "Потврдете ја новата лозинка"
    %br/
    = f.password_field :password_confirmation
  %div= f.submit "Промени!"
= render "devise/shared/links"
