%h2 Најава
= form_for(resource, class: 'horizontal', :as => resource_name, :url => session_path(resource_name)) do |f|
  %p
    = f.label :email
    = f.email_field :email
  %p
    = f.label :password, 'Лозинка'
    = f.password_field :password
  %div= f.submit "Најава"
= render "devise/shared/links"
